<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="vma.thkoeln.ss2022.wetter.app.plus">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wetter_App"
        tools:targetApi="31">

        <activity
            android:name=".Zeigealleregentage"
            android:label="@string/activity1_title"
            android:exported="false"/>

        <activity
            android:name=".Readfile"
            android:label="@string/activity2_title"
            android:exported="false"/>

        <activity
            android:name=".Zeigeallewerte"
            android:label="@string/activity3_title"
            android:exported="false"/>

        <activity
            android:name=".Meineliste"
            android:label="@string/activity4_title"
            android:exported="true"/>


        <activity android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="vma.thkoeln.ss2022.android.intents.AUFG31" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="vma.thkoeln.ss2022.android.intents.BLATT3" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>


        </activity>


    </application>

</manifest>